<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advice Generator</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
</head>
<body>
  <div class="card">
      <p id="adviceId">
          ADVICE #<span><%= id %></span>
      </p>
    
      <p id="adviceText">
        <%= `"${advice}"` %>
      </p>

      <div id="end-quote">
        <img src="/images/line.png">
        <p id="middle-end-quete">"</p>
        <img src="/images/line.png">
      </div>
     <div id="circle">
      <img id="generateAdviceBtn" src="/images/Dice.png">
     </div>
      

  </div>

  <script>
      document.getElementById('circle').addEventListener('click', function() {
          // Call a function to fetch new advice and update the content
          generateNewAdvice();
      });

      async function generateNewAdvice() {
          try {
              const response = await fetch("https://api.adviceslip.com/advice");
              const result = await response.json();

              document.getElementById('adviceId').innerText = "ADVICE #" + result.slip.id;
              document.getElementById('adviceText').innerText = '"' + result.slip.advice + '"';
          } catch (error) {
              console.error('Error fetching new advice:', error.message);
          }
      }
  </script>
</body>
</html>